<%- include("partials/admin-header.ejs") %>
<!-- Admin Dashboard -->
   <div class="admin-class" id="adminContent">
    <div class="admin-container">
        <div class="admin-items" id="Cars">
            <p>Cars Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
        <div class="admin-items" id="Users">
            <p>Users Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
        <div class="admin-items" id="Brands">
            <p>Brands Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
        <div class="admin-items" id="Admins">
            <p>Admin Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
        <div class="admin-items" id="Comments">
            <p>Comments Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
        <div class="admin-items" id="Issues">
            <p>Issues Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        </div>
    </div>
   </div>
<!-- Admin Dashboard -->

   <footer id="adminFooter">
        <p id="year"></p>
   </footer>
