<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>


<body>
   <header id="adminHeader">
    <p>This is the Header</p>
   </header>

   <div class="admin-class" id="adminMenu">
    <p class="dashbord-elements">Dashboard</p>
    <p class="dashbord-elements">Brands</p>
    <p class="dashbord-elements">Cars</p>
    <p class="dashbord-elements">Admins</p>
    <p class="dashbord-elements">Comments</p>
    <p class="dashbord-elements">Issues</p>
   </div>
   <div class="admin-class" id="adminContent">

    <div class="admin-container">
        <div class="admin-items" id="Cars">
            <p>Cars Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>
        <div class="admin-items" id="Users">
            <p>Users Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>
        <div class="admin-items" id="Brands">
            <p>Brands Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>
        <div class="admin-items" id="Admins">
            <p>Admin Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>
        <div class="admin-items" id="Comments">
            <p>Comments Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>
        <div class="admin-items" id="Issues">
            <p>Issues Stats</p>
            <hr>
            <ul>
                <li>Number of Units</li>
                <li>Anything Else associated With it</li>
            </ul>
        
            <i class="right-arrow fa-solid fa-arrow-right"></i>
        </div>

    </div>
   </div>
   <footer id="adminFooter">
    This is the footer
   </footer>
</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eac2918891.js" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
</html>