<%- include('partials/header')  %>
    <!-- Home Page Cars -->
    <div id="commentContainer" class="comment-container">
      <div class="comment-items">
        <form action="">
          <h5 style="color: white; text-align: center;">Say something on this car</h5>
          <textarea placeholder="Comment your Reply!" name="" id="" cols="30" rows="10"></textarea>
          <br>
          <button class="btn-more-details">Comment</button>
        </form>
      </div>
    </div>
    <div id="issueContainer" class="comment-container">
      <div class="comment-items">
        <form action="">
          <h5 style="color: white; text-align: center;">Any Problem with this car?</h5>
          <textarea placeholder="Comment your issue!" name="" id="" cols="30" rows="10"></textarea>
          <br>
          <button class="btn-more-details">Comment Issue</button>
        </form>
      </div>
    </div>
    
    <div class="container animate__animated animate__backInUp">
      <div class="flex-items">
        <img class="car-img" src="uploads/2015_mercedes-benz_s550_20220826-120.jpeg" alt="" style="width: 100%; height: 50%; text-align: center;"/>
      </div>
      <div class="flex-items">
        <ul class="car-list">
        <h4 style="color: white;"><span>Year</span> Car Name</h4>
        <li class="list-items">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</li>
        <li class="list-items">Transmission: <span class="car-detail">Manual</span></li>
        <li class="list-items">Engine Capacity: <span class="car-detail">2000 CC</span></li>
        <li class="list-items">Torque: <span class="car-detail">350</span></li>
        <li class="list-items">Horse Power: <span class="car-detail">211</span></li>
        <li class="list-items">Fuel: <span class="car-detail">Petrol</span></li>
       </ul>
        <ul class="car-list comments-section">
          <button onclick="showCommentWindow()" class="btn-interact" id="commentPopup"><li class="list-items"><i class="fa-regular fa-comment"></i></li></button>
          <button onclick="showIssueWindow()" class="btn-interact" id="issuePopup"><li class="list-items"><i class="fa-solid fa-exclamation"></i></li></button>
          <button class="btn-interact" id=""><li class="list-items"><i class="fa-regular fa-heart"></i></li><br></button>
        </ul>
      </div>
    </div>

<!-- Home Page Cars -->
<%- include('partials/footer')  %>