<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the This car Page</h1>
    <!-- Home Page Cars -->
    <div class="container animate__animated animate__backInUp">
        <div class="flex-items">
          <img class="car-img" src="uploads/2015_mercedes-benz_s550_20220826-120.jpeg" alt="" style="width: 100%; height: 50%; text-align: center;"/>
          <h4><span>Year</span> Car Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
        <div class="flex-items">
          <img class="car-img" src="uploads/WHEEL1-superJumbo.jpg" alt="" style="width: 100%; height: 50%; text-align: center;"/>
          <h4><span>Year</span> Car Name</h4>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
        <div class="flex-items">
          <img class="car-img" src="uploads/2015_mercedes-benz_s550_20220826-120.jpeg" alt=""/>
          <h4 ><span>Year</span> Car Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
      </div>
<!-- Home Page Cars -->
</body>
</html>