<!-- Header -->
<%- include('partials/header') %>
<!-- Header -->

<!-- Introductory part -->

      <div class="container text-center">
        <div class="row">
            <div class="col col-12 animate__animated animate__backInDown" style="text-align: center;">
                <h3 class="intro">Get all you need to Know about your Dream Car</h3>
                <h3 ></h3>
            </div>
            <div class="row animate__animated animate__backInUp">
                <div class="col col-12">
                <h4 style="color: white;">Welcome to our car Space! </h4>
                <h5 style="color:#9A9483;"> Whether you're a passionate car enthusiast, a prospective buyer, or simply curious about the latest automotive trends, you've come to the right place.</h5>
            </div>
        </div>
<!-- Introductory part -->


<!-- Home Page Cars -->
      <div class="container animate__animated animate__backInUp">
        <div class="flex-items">
          <img class="car-img" src="uploads/2015_mercedes-benz_s550_20220826-120.jpeg" alt="" style="width: 100%; height: 50%; text-align: center;"/>
          <h4><span>Year</span> Car Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
        <div class="flex-items">
          <img class="car-img" src="uploads/WHEEL1-superJumbo.jpg" alt="" style="width: 100%; height: 50%; text-align: center;"/>
          <h4><span>Year</span> Car Name</h4>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
        <div class="flex-items">
          <img class="car-img" src="uploads/2015_mercedes-benz_s550_20220826-120.jpeg" alt=""/>
          <h4 ><span>Year</span> Car Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at justo ac enim rutrum accumsan. Cras sit amet justo a ex tincidunt dapibus sed eu dolor. Sed in ligula et turpis posuere hendrerit et vitae lorem.</p>
          <ul class="car-list">
             <li class="list-items">Transmission</li>
             <li class="list-items">Engine</li>
              <li class="list-items">Fuel</li>
          </ul>
        </div>
      </div>
<!-- Home Page Cars -->

<!-- All Brands -->
      <div class="brand-container">
         <div class="brand-items ">
          <img src="uploads/audi.png " alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/mercedesbenz.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/bmw.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/lexus.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/toyota.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/volkswagen.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/nissan.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/mazda.png" alt="" class="brand-img">
         </div>
         <div class="brand-items ">
          <img src="uploads/landrover.png" alt="" class="brand-img">
         </div>
      </div>

<!-- All Brands -->

<!-- Footer -->
      <%- include('partials/footer') %>
<!-- Footer -->






