<%- include("partials/admin-header") %>

<div class="car-form-container" id="carFormContainer">
    <div class="car-form-items">
        <h2 style="color: white;">Add a new Car</h2><br/>
        <form action="/postcar" method="post">
        <input type="text" name="carName" placeholder="Car Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <input type="text" name="year" placeholder="Year" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="engine" placeholder="Engine Capacity" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="torque" placeholder="Torque" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="horsePower" placeholder="HorsePower" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="transmission" placeholder="Transmission" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="fuelType" placeholder="Fuel Type" class="auth-inputs" autocomplete="none" required><br>
        <input type="text" name="description" placeholder="Description" class="auth-inputs" autocomplete="none" required><br>
        <label for="imageUpload" style="color: white;">Car Image</label><br>
        <input type="file" name="file" id="imageUpload" title="Car Image" required><br><br>
        <button class="btn-auth">Post Car</button>
       </form>
    </div>
    <div class="car-form-items">
        <p class="err-msg"></p>
        <h2 style="color: white;">Add a new Brand</h2><br/>
        <form action="/postbrand" method="post">
        <input type="text" name="brandName" placeholder="Brand Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <button class="btn-auth">Add Brand</button>
       </form>
    </div>
    <div class="car-form-items">
        <h2 style="color: white;">Add a new Admin</h2><br/>
        <form action="">
        <input type="text" placeholder="Admin Name" class="auth-inputs" autocomplete="none" required>
        <br>
        <input type="email" placeholder="Email" class="auth-inputs" autocomplete="none" required><br>
        <input type="password" placeholder="Password" class="auth-inputs" autocomplete="none" required><br>
        <button class="btn-auth">Add new Admin</button>
       </form>
    </div>
</div>

<!-- Brand Form -->
<div class="car-form-container" id="brandFormContainer">
</div>

<!-- Admin Form -->
<div class="car-form-container" id="adminFormContainer">

</div>
<%- include("partials/admin-footer") %>