<%- include("partials/auth-header") %>
<h1 style="color: #EEEEEE; text-align: center; font-family: 'Playfair Display', serif;">Sign Up</h1>
    <div class="auth-container">
        <div class="auth-items">
            <h5 style="color: #00ADB5; text-align: left; font-family: 'Raleway', sans-serif;">Welcome to RideHive</h5>
             
            <form>
                <input type="text" id="usernameInput" name="userName" placeholder="Enter your Username" class="auth-inputs" autocomplete="none" required >
                <br/>
                <input type="email" id="emailInput" name="email" placeholder="Enter your Email" class="auth-inputs" required>
                <br/>
                <input type="password" id="passwordInput" name="password" placeholder="Enter your Password" class="auth-inputs" required>
                <br/>
                <button class="btn-auth" type="submit" id="submitButton">Sign Up</button>
            </form>
            <p style="color:#EEEEEE; text-align: left; font-family: 'Raleway', sans-serif; margin-top: 20px;">Already have an account?</p><a href="/login" style="text-decoration: none; color: #EEEEEE;"><span>Sign in</span></a>
        </div>
    </div>
</body>
</html>