<%- include("partials/admin-header.ejs") %>

<!-- Users Posted -->
<div class="brand-class" id="userContent">
    <div class="system-container">
        <h4 class="admin-sections-headings">Users</h4>
        <div class="system-items" id="brands">
            <hr>
            <ol start="1" class="brand-items">
                <li style="font-family: Arial; color: #00ADB5;">Ryan Kaleli</li>
                <li class="list-admin-mails">Krk@gmail.com</li>
                <Button class="edit-delete-btns">Edit</Button>
                <Button class="edit-delete-btns">Delete</Button>
            </ol>
            <hr>
        </div>
    </div>
</div>

<!-- Users Posted -->

<%- include("partials/admin-footer.ejs") %>