body{
    background-color: #222831 ;
}

.footer{
    background-color: #222831;
    color:#EEEEEE;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.intro{
   color:  #EEEEEE;
   margin-top: 20px;
   margin-bottom: 10px;
}

.car-list{
    list-style-type: none;
    margin-right: 50px;
}
.list-items{
    display: inline-block;
    color: white;
    background-color: #AAA492;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}
.flex-items{
    flex-basis: 350px;
    border: 1px #222831 solid;
    margin-top: 10px;
    background-color: #222831 ;
    
}
.flex-items > h4{
    text-align: left; 
    padding: 8px; 
    color: white;
}
.flex-items > p{
    text-align: left; padding: 8px; color: #E5DCC3;
}

.car-img{
    max-width: 100%;
    max-height: 220px;
    min-height: 220px;
    min-width: 100%;
}

.intro-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.intro-items{
    flex-basis: 400px;
    text-align: left;
}

.intro-img{
    width:100%;
    height: 100%;
}
.horizontal-line{
color: #EEEEEE;
}
.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.about-items{
    flex-basis: 200px;
    text-align: left;
    background-color: #393E46;
    border: 3px #393E46 solid;
    color: #EEEEEE;
    border-radius: 3px;
    padding: 6px;
    margin-bottom: 10px;
}
.about-items > h3{
    color:#00ADB5;
    font-family: 'Raleway', sans-serif;
}
.about-items >p{
    font-family: 'Playfair Display', serif;
}
.social-icons{
    color: #00ADB5;
}
.contact-items > p{
color: #EEEEEE;
font-family: 'Playfair Display', serif;
}
.btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    color: #00ADB5;
    font-size: 20px;
    background: #222831;
    padding: 10px 15px 10px 15px;
    border: solid #00ADB5 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
    background-image: -moz-linear-gradient(top, #f0f0f0, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f0f0f0, #e6e6e6);
    background-image: -o-linear-gradient(top, #f0f0f0, #e6e6e6);
    background-image: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
    text-decoration: none;
  }
  .nav-link {
    padding-right: 10px; color: #EEEEEE; font-family: 'Playfair Display', serif;
  }

  .auth-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-content: center;
  }
  .auth-items{
    max-height: auto;
    max-width: auto;
    background-color: #393E46;
    text-align: center;
    padding: 100px;
  }
  .auth-inputs{
    margin-bottom: 50px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    background-color: #393E46;
    color: #EEEEEE;
  }
  .btn-auth {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #393E46;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    width: 100%;
  }
  
  .btn-auth:hover {
    background: #a3a0a3;
    text-decoration: none;
  }