body{
    background-color: #E5DCC3 ;
}

.footer{
    background-color: #E5DCC3;
    color:#9A9483;
    text-align: center;
}

.intro{
   color:  #9A9483;
   margin-top: 20px;
   margin-bottom: 10px;
}

.car-list{
    list-style-type: none;
    margin-right: 50px;
}
.list-items{
    display: inline-block;
    color: white;
    background-color: #AAA492;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}
.flex-items{
    flex-basis: 350px;
    border: 1px #9A9483 solid;
    margin-top: 10px;
    background-color: #9A9483 ;
}
.flex-items > h4{
    text-align: left; 
    padding: 8px; 
    color: white;
}
.flex-items > p{
    text-align: left; padding: 8px; color: #E5DCC3;
}

.car-img{
    max-width: 100%;
    max-height: 220px;
    min-height: 220px;
    min-width: 100%;
}

.brand-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
}
.brand-items{
    background-color: #9A9483;
    border: 3px solid #9A9483;
    padding: 20px;
    margin-right: 10px ;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-basis: 300px;
}
.brand-img{
    max-width: 50%;
    min-width: 50%;
    max-height: 50px;
    min-height: 50px;
}