<!-- Header -->
<%- include('../partials/header') %>
<!-- Header -->

<div class="animate__animated animate__slideInUp intro-container">
  <div class="intro-items">
    <hr class="horizontal-line"/>
    <h4 style="color: #EEEEEE;font-family: 'Playfair Display', serif;">Welcome to our car Space! </h4>
      <h2 style="color: #00ADB5; font-family: 'Raleway', sans-serif; ">Get all you need to Know about your Dream Car</h3>
    <p style="color:hsl(0, 0%, 93%); text-align: left; font-family: 'Playfair Display', serif; "> Whether you're a passionate car enthusiast, a prospective buyer, or simply curious about the latest automotive trends, you've come to the right place.</p>
    <a href="/cars" class="btn-home"> Explore Cars</a>
   </div>
   <div class="intro-items" >
    <img class="intro-img" src="assets/pexels-mike-bird-892522-removebg-preview.png"/>
   </div>
  </div>
</div>



<!-- All Brands -->
<h1 style="color: #EEEEEE; text-align: center; font-family: 'Playfair Display', serif;" class="">All about the application</h1>
      <div class="animate__animated animate__slideInUp about-container" id="about">
         <div class="about-items">
          <h3>Likes</h3>
          <hr class="horizontal-line"/>
          <p>You have the opportunity to Like vehicles that you come across and you find them appealing</p>
         </div>
         <div class="about-items ">
          <h3>Problems</h3>
          <hr class="horizontal-line"/>
          <p>Go through the problems of your dream car in the pronlem section. Comment on any bad experiances experianced too.</p>
          
         </div>
         <div class="about-items ">
          <h3>Comments</h3>
          <hr class="horizontal-line"/>
          <p>Go through and comment on your dream car. Letus know what you think.</p>
         </div>
      </div>
      <h1 style="color: #EEEEEE; text-align: center; font-family: 'Playfair Display', serif;" class="">Reach Out Via</h1>
      <div class="animate__animated animate__slideInUp intro-container" id="contact">
        <div class="contact-items">
          <hr class="horizontal-line"/>
          <i class="social-icons fa-brands fa-twitter"></i><p>iheartgabriel3</p><br/><br/>
          <i class="social-icons fa-brands fa-instagram"></i><p> iheartgabriel</p><br/><br/>
          
        </div>
        <div class="contact-items">
          <hr class="horizontal-line"/>
          <i class="social-icons fa-solid fa-envelope"></i><p> kaleligabriel6@gmail.com</p><br/><br/>
          <i class="social-icons fa-solid fa-phone"></i><p> 0704383812</p><br/><br/>
        </div>
      </div>

<!-- All Brands -->

<!-- Footer -->
      <%- include('../partials/footer') %>
<!-- Footer -->






